<br>
<br>
<br>
<div class="ask-container">
  <strong><h1>Ask your question</h1></strong>
  <br>
  <input class="form-control" type="text" placeholder="When entering a lab name please copy and paste the exact repo name from github.  Example: rails-form_tag-readme. The '-onl01-seng-pt-061520' part is not neccessary." readonly>
  <br>
  <form action="/questions" method="post">
    <input type="hidden" name="authenticity_token" value="PSQFoBwzsrzv8ZJYtDOE5iPKJJmn3N/4GyOo2lovc9T8l68aPSbABRMoky784CpPA+7nGhBcZj0/oPMWLLwa/Q==">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="exampleFormControlInput1">Lab</label>
        <input type="text" name="lab" class="form-control" id="exampleFormControlInput1" placeholder="rails-form_tag-readme-onl01-seng-pt-061520" required>
      </div>
      <div class="form-group col-md-6">
        <label for="exampleFormControlInput1">Question</label>
        <input type="text" name="question_title" class="form-control" id="exampleFormControlInput1" placeholder="How do yo add an input field?" required>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Explain what is going on:</label>
      <textarea class="form-control" name="question_content"  id="exampleFormControlTextarea1" rows="4" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<br>
<br>
