<style>
body {
  background-image: url("https://rb.gy/wvhfcg");
   background-color: #cccccc;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
</style>

<div class="container">
	<div class="row">
    <div class="thatlab-container">
      <a href="/thatlabs">
      <%= image_tag 'thatlab.png' %>
      </a>
    </div>
	    <div class="col-12">
        <form action="/thatlab" method= "get">
    	    <div id="custom-search-input">
                <div class="input-group">
                    <input type="text" name="search" class="search-query form-control" placeholder="Search" />
                    <span class="input-group-btn">
                        <button type="button" disabled>
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
	</div>
  <p>Search the lab you are having trouble with.  |  <a href="/questions/new"> Ask a new question.</a>  |  <a href="/thatlab?search="> See previous questions.</a> </p>
</div>
