<h1 class='title'><%= @user %>'s Note </h1>
<h3><%= @greeting %></h3>
<div class="section">
	<div class="container">
		<% if @current_user_notes.empty? == true %>
      <% redirect_to error_path %>
      <% else %>
		<% @current_user_notes.each do |note| %>
			<div class="card">
		  <div class="card-content">
		    <div class="media">
		      <div class="media-content">
		        <p class="title is-4"><%= link_to note.title, note  %></p>
		      </div>
		    </div>
		    <div class="content">
		     	<%= note.content %>
		    </div>
		  </div>
		</div>
		<% end %>
		<% end %>
	</div>
</div>
