
<div id="new-note">
        <ul>
          <li>
            <a>
              <div id="create">
                <form action="/notes" method="POST">
                  <input type="text" name="title" placeholder="Title your note" required>
                  <%= token_tag nil %>
                  <textarea id="newnote" name="content"rows="20" cols="70" placeholder="Jot something down.." required></textarea>
                  <input id="new-note-submit" type="submit">
                </form>
              </div>
            </a>
          </li>
        </ul>
  </div>
