
<style>
  #new-note{
    margin: 500px;
    width: 45%;
    padding: 0.1px;
    margin-top: 45px;
  }
  #new-note ul li a{
    text-decoration:none;
    color:#000;
    background:#FCFF4B;
    display:block;
    overflow:auto;
    height:45em;
    width:35em;
    padding:1.3em;
  }
  #create input {
 background-color:#FFF;
 min-height:40px;
 width:515px;
 font-size:14pt;
 margin-bottom: 30px;
 padding: 40;
 border-radius: 10px;
 background:rgba(255,255,255,1.0);
 border:none;
}
#newnote {
 margin-top: 1px;
 background:rgba(255,255,255,1.0);
 border:none;
}
#new-note-submit {
 margin-top: 13px;
 width:100px;
}
#nav ul {
  list-style-type: none;
	border-radius: 25px;
  margin: 15px;
  padding:0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 12.7%;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav li a:hover {
  background-color: #5555;
}
</style>
<div id="nav">
    <ul>
      <li><a href="/notes">All Notes</a></li>
      <li><a href="/notes/new">New Note</a></li>
    </ul>
  </div>

<div id="new-note">
        <ul>
          <li>
            <a>
              <div id="create">
                <form action="/notes" method="POST">
                  <input type="text" name="title" placeholder="Title your note" required>
                  <%= token_tag nil %>
                  <textarea id="newnote" name="content"rows="20" cols="70" placeholder="Jot something down.." required></textarea>
                  <input id="new-note-submit" type="submit">
                </form>
              </div>
            </a>
          </li>
        </ul>
  </div>
