<br>
<br>
<br>
<div class="note-container">
<h1><%= @note.title%></h1>
<div id="show-note">
    <ul>
      <li>
          <a href="/notes/<%= params[:id] %>/edit">
            <p><%=@note.content%></p>
          </a>
        </li>
      </ul>
      <h5 id="warning">*click on the note to edit note<h5>
    </div>
  </<body>
</div>
<br>
<br>
