<br> <br>
<div class="project-main-container">
  <h1>Welcome!</h1>
  <h5>Pick a project to see diferent project ideas.</h5>
  <br> <br>
  <%= link_to "CLI project", project_path(5) %> |
  <%= link_to "Sinatra project", project_path(4) %> |
  <%= link_to "Rails project", project_path(3) %>

</div>
