<h1>Welcome back,  <strong><%= @user.username %></strong> !</h1>
<br>
<h3>Pick an app</h3>
<ul>
  <a href="https://stackoverflow.com/"><li>Stack Overflow </li></a>
  <a href="https://www.codewars.com/"><li>Code Wars</li></a>
  <a href="/notes"><li>Notes </li></a>
  <a href="/flashcards"><li>Flashcards</li></a>
  <a href="https://www.twitter.com/"><li>Twitter</li></a>
  <a href="https://www.slack.com/"><li>Slack</li></a>
  <a href="https://www.learn.co/"><li>Learn.co</li></a>
  <a href="https://www.github.com/"><li>Github</li></a>
  <a href="https://www.rubyguides.com/"><li>Rubyguides</li></a>
  <a href="https://www.codepen.io/"><li>Codepen</li></a>
</ul>

<%= link_to "Logout", logout_path, class:"button" %>
