<style>
  body {
     /* background-image: url("devtop-homepage.png"); */
     background-color: #141414;
     background-position: center;
     background-repeat: no-repeat;
     /* background-size: 1600px 900px; */
  }
  .image-container{
    margin: auto;
    width: 68%;
  }
  .test-container{
    background-color: red;
  }
</style>
<div class="image-container">
<div class="main-container">
     <a href="https://www.twitter.com/"><div class="item-1"></div></a>
     <a href="https://www.github.com/"><div class="item-2"></div></a>
     <a href="https://guides.rubyonrails.org/"><div class="item-3"></div></a>
     <a href="/thatlabs"><div class="item-4"></div></a>
     <a href="https://learn.co"><div class="item-5"></div></a>
     <a href="https://stackoverflow.com"><div class="item-6"></div></a>
     <a href="https://www.codewars.com/"><div class="item-7"></div></a>
     <a href="https://www.slack.com/"><div class="item-8"></div></a>
     <a href="https://www.codepen.io/"><div class="item-9"></div></a>
     <a href="https://www.rubyguides.com/"><div class="item-10"></div></a>
     <a href="/notes"><div class="item-11"></div></a>
     <a href="/flashcards"><div class="item-12"></div></a>
     <%= image_tag("devtop-no-bg.png", size: "1100x1100", alt: "devtop screen") %>
     <form class="google-search" action="/gosearch" method="post">
       <input type="text" name="search">
       <%= token_tag nil %>
       <input type="submit" value="Submit">
     </form>
 </div>
</div>
