// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-container {
  width: 75%;
  margin: auto;
}
.app-container {
    padding: 30px;
    margin: auto;
    width: 80%;
    /*  background-color: red; */
    text-align: center;
    // font-size: 40px;
}

.app-container a {
    margin-left: 35px;
    /*   margin-botom: 50px; */
    margin: 50px;
}

figcaption {}

.app-row-1 {
    /*   background-color: green; */
    width: 75%;
    margin: auto;
    padding: 5px;
}

.app-row-2 {
    /*   background-color: green; */
    width: 75%;
    margin: auto;
    padding: 5px;
    padding-top: 35px;
}
#main-container{
  position: relative;
/*   width: 1000px;
  height: 1000px; */
}
.item-1{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 224px;
  left: 520px;
  z-index: 9;
}
.item-2{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 224px;
  left: 671px;
  z-index: 9;
}
.item-3{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 224px;
  left: 823px;
  z-index: 10;
}
.item-4{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 224px;
  left: 970px;
  z-index: 9;
}
.item-5{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 372px;
  left: 520px;
  z-index: 9;
}
.item-6{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 372px;
  left: 671px;
  z-index: 9;
}
.item-7{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 372px;
  left: 823px;
  z-index: 9;
}
.item-8{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 372px;
  left: 970px;
  z-index: 9;
}
.item-9{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 510px;
  left: 520px;
  z-index: 9;
}
.item-10{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 510px;
  left: 671px;
  z-index: 9;
}
.item-11{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 510px;
  left: 823px;
  z-index: 9;
}
.item-12{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 510px;
  left: 970px;
  z-index: 9;
}
.google-search{
  position: absolute;
  top: 665px;
  left: 446px;
  z-index: 9;
}
input[type=text]{
  border: none;
  width: 343px;
  height: 32px;
  margin-right: 30px;
  background-color: #aae0de;
}
input[type=submit]{
  visibility: hidden;
}
